<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloCordova</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <preference name="AndroidPersistentFileLocation" value="Internal" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#f44336" />
        <preference name="StatusBarStyle" value="lightcontent" />
        <preference name="StatusBarDefaultScrollToTop" value="false" />
        <preference name="NavigationBarBackgroundColor" value="#f44336" />
        <preference name="NavigationBarLight" value="true" />
        <preference name="HeaderColor" value="#f44336" />
        <preference name="KeepRunning" value="true" />
        <preference name="LoadingDialog" value="Bismillah...!" />
        <preference name="ErrorUrl" value="file:///android_asset/www/index.html" />
        <preference name="AndroidLaunchMode" value="singleTop" />
        <preference name="DefaultVolumeStream" value="call" />
        <preference name="OverrideUserAgent" value="Mozilla/5.0 My Browser" />
        <preference name="AppendUserAgent" value="My Browser" />
        <preference name="android-targetSdkVersion" value="30" />
        <preference name="AndroidXEnabled" value="true" />
    </platform>
</widget>
